@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif;
  font-weight: 550;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Homepage */

.table {
  min-height: 650;
  text-align: center;
}

.root-home {
  flex-grow: 1;
}

.paper-left {
  padding: 10px 16px;
  text-align: left;
  color: #fff !important;
  height: 120px;
  background-color: #f88f01 !important
}

.paper-right {
  padding: 10px 16px;
  text-align: left;
  color: #fff !important;
  height: 120px;
  background-color: #898989 !important
}

.result-left {
  float: right;
  font-size: 24px;
}

.result-right {
  float: right;
  font-size: 22px;
}

.title-home {
  color: #f88f01;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-bottom: 5px !important;
}

.white-text {
  color: #fff !important;
}

.link {
  display: flex;
  color: #252525;
}

.icon {
  width: 20;
  height: 20;
}

.select {
  font-size: 24;
  color: #f88f01;
}

.root-header {
  flex-grow: 1;
  margin-bottom: 25;
}

.navbar {
  background-color: #000;
}

.menuButton {
  margin-right: 16;
}

.title {
  flex-grow: 1;
  color: #f88f01;
}

.samp {
  font-size: 24;
  color: #fff;
}

.user {
  margin-left: 5;
  text-transform: uppercase;
  font-size: 20;
  color: #f88f01;
}